/* Section widths ****************************************************************************************************/

.edit-post-visual-editor .editor-block-list__block {

  &[data-type="sectionblock/section"] {

    &[data-align="wide"],
    &[data-align="full"] {
      .editor-block-list__layout {
        .editor-block-list__block {
          max-width: 100%;
          margin-left: 32px;
          margin-right: 32px;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    &[data-align="left"],
    &[data-align="right"] {
      .sectionblock-section {
        max-width: 48%;
        margin-right: 4%;

        &:nth-of-type(2n) {
          margin-right: 0;
        }

        .sectionblock-section {
          max-width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}

/* Kill recursive floats *********************************************************************************************/

.edit-post-visual-editor {
  .sectionblock-section-items {
    .editor-block-list__block-edit {
      float: none !important;
    }
  }
}